/* body,
html {
    width: 100%;
    height: 100%;
    display: flex;
} */

.skill {
    position: relative;
    margin: auto;
    /* width: 120px; */
    /* line-height: 64px; */
    text-align: center;
    color: #fff;
    font-size: 20px;
    border: 2px solid rgb(250, 246, 6);
    border-radius: 10px;
    /* background: gold; */
    cursor: pointer;
    
    &:hover {
        filter: contrast(1.1);
    }
    
    &:active {
        filter: contrast(0.9);
    }
    
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border: 4px solid #E80F88;
        transition: all .5s;
        animation: clippath 3s infinite linear;
        border-radius: 10px;
    }
    
    &::after {
        animation: clippath 3s infinite -1.5s linear;
    }
}

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 98% 0);
    }
    
    25% {
        clip-path: inset(0 98% 0 0);
    }
    50% {
        clip-path: inset(98% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 98%);
    }
}

.bg::before {
    background: rgba(255, 215, 0, .5);
}