@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=League+Spartan:wght@100..900&family=Linefont:wght@4..1000&family=Sedan:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: "Exo 2", serif; */
/*   font-family: "Orbitron", serif;
  font-family: "Philosopher", serif;
    font-family: "Yatra One", serif;

 bg-[#444444] text-[#008080]
 */

 body{
     font-family: "JetBrains Mono", monospace;
      font-family: "Philosopher", serif;
    background-color: #040303;
    background-color: #0C0C0C;
    color: #E80F88;
    color: #F8F3D9;
 }

 .bannerImg{
    filter: drop-shadow(5px 5px 10px gray);
 }